@import 'containers';
@import 'nav';
@import 'footerstyle';
@import 'pruebatabsvisitaguiada';
@import 'skeletontabs';

.ignoreparent {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.wrapper {
  min-height: calc(80% + 142px);
  margin-bottom: -142px;
}

.wrapper:after {
  display: block;
  content: "";
  height: 142px;
}
.site-footer, .wrapper:after {
  height: 142px;
}
.site-footer {
  background: orange;
}
#footerb {
  color: white;
  background: #333;
  background-color: #062F5D;
  height: 142px;
  text-align: center;

}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.19rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
